*{ background-color: #d6d1f0; padding: 0; }
.App {
  text-align: center;
  padding: 25px;

}
.Header{
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: black 1px solid;
  margin-bottom: 25px;
}

.form-floating {

  display: block;
  border: 1px black solid;
  margin-left: 20%;
  margin-right: 20%;
  /* margin-bottom: 25px; */
  font-size: 1rem;
  line-height: 1.5em;
  font-family: "Papyrus", fantasy;

}

.App-link {
  color:black;
}

